
@{
    ViewBag.Title = "Home";
    ViewBag.Links = "<li><a href=\"#\">Home</a></li><li><a href=\"#\">FAQs</a></li><li><a href=\"#\">Contact</a></li>";
}

<h2>Welcome to Cornerstone Home Inspections!</h2>

