body {
    background: linear-gradient(rgba(255,255,255,.3), rgb(255,255,255)), url(../Images/banner.jpeg);
    background-attachment: scroll;
    background-position: 0 52px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 52px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

    display: flex !important;
    flex-direction: column !important;
    align-items: stretch !important;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
nav {
    border-bottom: rgb(22,152,250) solid 2px;
}

.my-alert {
    margin-top: 40px;
    margin-bottom: 0;
}

.main-header {
    padding: 25px;
    border-radius: 5px;
}

.main-logo img {
    width: 90%
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content p, .main-content h1 {
    text-align: center;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.picture-caption-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: rgb(22,152,250) solid 4px;
    height: 100%;
}

.picture-caption-large h3 {
    border-bottom: white solid 1px;
    padding-bottom: 10px;
}

.picture-caption-small {
    display: none;
}

.mobile-call {
    display: none;
}

.normal-call {
    color: white !important;
    font-weight: bold;
}

.normal-call:active, .my-title:active, .normal-call:target, .my-title:target, normal-call, my-title:link, normal-call:link {
    color: white !important;
}

.home-container, .carousel-container, .picture-caption-small, .pricing-container, .faqs-container, .contact-container, .footer-container {
    padding-top: 40px !important;
}

@media only screen and (max-width: 991px) {
    .display-2 {
        font-size: 4rem !important;
    }

    .main-logo img {
        width: 100%;
    }

    .picture-caption-large {
        margin-top: 40px;
    }

    .space-box {
        margin: 20px;
    }

    .carousel-container .row {
        max-height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .main-logo img {
        width: 288px;
    }
}

@media only screen and (max-width: 600px) {
    .display-2 {
        font-size: 3.5rem !important;
    }

    .main-logo img {
        width: 288px;
    }


    .price-card {
        display: flex;
        flex-direction: column;
    }

    .big-price {
        font-size: 70pt !important;
        align-self: center !important;
    }

    .menu-toggle {
        display: none !important;
    }

    .mobile-call {
        display: block;
        color: white !important;
        font-size: 14pt;
        padding: 5px !important;
    }

    .navbar-title {
        font-size: 12pt !important;
    }

    .home-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .carousel-container {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.carousel-image {
    width: 100%;
    overflow: hidden;
}

.pricing-header {
    font-size: 1.5rem;
}

.faqs-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    padding: 5px;
}

.faqs-container button {
    margin: 5px;
}

.btn {
    white-space: normal !important;
}

.faq-panel {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(210,210,210) !important;
    color: rgb(60,60,60);
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-container-row {
    align-self: stretch;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 5px;
}

.contact-container-row a {
    color: white;
    text-decoration: none !important;
}

.contact-container-item {
    background-color: rgb(210,210,210);
    border-radius: 5px;
    border-bottom: rgb(22,152,250) solid 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(60,60,60);
    text-align: center;
    height: 170px;
}

.contact-container-item:hover {
    background-color: rgb(60,60,60);
    text-decoration: none !important;
    color: rgb(220,220,220);
}

.contact-container-item i {
    color: rgb(22,152,250);
    font-size: 24pt;
}

.footer-container {
    background-color: rgb(60,60,60);
    color: white;

    padding-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0;
}

.big-price {
    font-size: 90pt;
    font-weight: 900;
    color: #25356D;
}

.italics {
    font-style: italic;
}

.text-background {
    background-color: rgba(0,0,0,.6);
    background-clip: content-box;
}

